<script src = "https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script defer src = "assets/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/main.css">

<div id = "root" data-csrf={{ csrf }}></div>
